body {
    text-align: center;
    background-image: linear-gradient(#743d19, #0f423b);
    height: 38em;
}
 

.number{
    margin: auto;
    border: groove;
    border-radius: 20px;
    width: 350px;
    height: 250px;
    color: grey;
    font-size: 50px;
}

button{
    font-size: 4em;
    border: none;
    background: transparent;
    padding: 20px;
}

button:hover{
    opacity: .3;
}

.dislike{
    color: red;
}

.like{
    color: green;
}

.reset{
    color: lightskyblue;
}