body {
    text-align: center;
    background-color: rgb(92, 81, 81);
    height: ;
}
 
h1 {
    text-align: center;
    font-size: 8em;
    justify-content: center;
}

.counter{
    margin: auto;
    border: groove;
    border-radius: 20px;
    width: 350px;
    height: 250px;
}

button{
    font-size: 4em;
    border: none;
    background: transparent;
    padding: 20px;
}

button:hover{
    opacity: .3;
}

.dislike{
    color: red;
}

.like{
    color: green;
}

.reset{
    color: lightskyblue;
}